<header class="border-bottom border-dark">
  <div class="padre">
    <div class="row hijo1">
      <img src="/img/pildoras matrix 3840x1080.jpg" alt="Portada Pildoras" />

      <div class=" hijo2"
            id="datospersonales">

        <img
          src="/img/Pablo Flores.jpg"
          alt="Foto Pablo"

          class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
        />
      </div>

    </div>
     <!--  Datospersonales -->
     <div class="row datospers ">
      <div class="col-xs-6 col-lg-4">
        <h1>Pablo Hernán</h1>
        <h1>Flores Maza</h1>
        <h3>Estudiante de Informática</h3>
        <h4>Argentina - Mendoza - Godoy Cruz</h4>
      </div>
    </div>
  </div>
</header>
<!--  Section -->
<section class="main"
          id="inicio">

  <div class="row border border-dark rounded ">
    <div class="col-xs-12 col-md-7">
          <!-- Acerca de Mi -->
          <div class="border border-dark rounded acercademi"
                id="acercademi">
            <h1>Acerca de Mi</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi,
              iste, ex doloremque officia eius necessitatibus unde blanditiis
              beatae minima deleniti sit magni veniam saepe totam possimus ab! Ex,
              sint consectetur!
            </p>
          </div>

          <!-- datos de estudio-->
          <div class="border border-dark rounded datosdeestudio"
                id="educacion">
            <h1>Datos Académicos</h1>
            <img
              src="https://sites.google.com/site/escuela4106/_/rsrc/1291720717547/config/customLogo.gif?revision=2"
              alt="Logo Esc 4-106"
              width="15%"
              class="img-fluid rounded-circle db-block"
            />
            <h2><u> Técnico Aeronáutico </u></h2>
            <h3>Esculea técnica 4-106 IV Brigada Aérea</h3>
            <p>Estudios terminado en el año 1999</p>

            <img
              src="https://naurua.com/img/iac-logo.jpg"
              alt="IAC logo"
              width="20%"
              class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
            />
            <h2><u> Técnico en Reparacion y Armado de PC </u></h2>
            <h3>Instituto Argentino de Computación</h3>
            <p>Curso realizado entre los años 1999 y 2000</p>

            <img
              src="https://naurua.com/img/iac-logo.jpg"
              alt="IAC logo"
              width="20%"
              class="img-thumbnail img-fluid rounded-circle mx-auto db-block"
            />
            <h2><u> Usuario avnazado de Office </u></h2>
            <h3>Instituto Argentino de Computación</h3>
            <p>Curso realizado entre los años 2000 y 2001</p>
          </div>

          <!-- Experiencia -->
          <div class="border border-dark rounded experiencia"
                id="experiencia">
            <h1>Experiencia</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
              delectus fugiat, quasi doloremque repellat ipsam. Sint accusantium
              debitis quaerat sequi. Nulla iusto sint quibusdam praesentium, ut
              repellat alias culpa ratione.
            </p>
          </div>
          <!-- Aptirudes y validaciones -->

          <div class="border border-dark rounded aptitudes"
                id="aptitudes">
            <h1>Aptitudes y Validaciones</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
              delectus fugiat, quasi doloremque repellat ipsam. Sint accusantium
              debitis quaerat sequi. Nulla iusto sint quibusdam praesentium, ut
              repellat alias culpa ratione.
            </p>
          </div>
          <!-- Logros Personales -->

          <div class="border border-dark rounded logros"
                id="logros">
            <h1>Logros Personales</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
              delectus fugiat, quasi doloremque repellat ipsam. Sint accusantium
              debitis quaerat sequi. Nulla iusto sint quibusdam praesentium, ut
              repellat alias culpa ratione.
            </p>
          </div>

           <!-- Intereses -->

           <div class="border border-dark rounded logros"
                id="intereses">
                <h1>Intereses</h1>
                  <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore
                    delectus fugiat, quasi doloremque repellat ipsam. Sint accusantium
                    debitis quaerat sequi. Nulla iusto sint quibusdam praesentium, ut
                    repellat alias culpa ratione.
                  </p>
            </div>

    </div>
    <!-- Aside -->

    <aside class="col-md-4 border border-dark rounded ">
          <h1>Mapa del Sitio</h1>
          <ul >
            <li> <a href="#datospersonales">Ir a datos personales</a> </li>
            <li> <a href="#inicio">Ir al inicio</a> </li>
            <li> <a href="#educacion">Ir a los datos académicos</a> </li>
            <li> <a href="#experiencia">Ir a experiencias</a> </li>
            <li> <a href="#aptitudes">Ir a aptitudes y validaciones</a> </li>
            <li> <a href="#logros">Ir a logros personales</a> </li>
            <li> <a href="#intereses">Ir a intereses</a> </li>
          </ul>
    </aside>
  </div>

</section>
<!-- footer -->
<footer class="row align-items-center border-top border-dark">
  <div class="col-3"> </div>
  <div class="col-6"></div>
  <div class="col-3"> <h2>2022</h2> </div>
</footer>







