*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Estilos del header*/
.hijo1{
  position:relative;
}
.hijo2{
  position: relative;
  width: 200px;
  height: 200px;
  top: -70px;
  left: 50px;
}

.datospers{
  margin-top: -100px;
  margin-left: 50px;

}
/*estilos del body*/
body{
  background-image: url(/img/wallpaper\ gris\ abstracto.png);
  background-size: 100%;

}

.border{
  margin:10px 5px;
  padding: 10px;
}
section{
 }

.main{
}

.section{
}

.acercademi{
}

.datosdeestudio{
}

.experiencia{
}

.aptitudes{
}

.logros{
}

aside{
}
